OpenCV-android-sdk
build-opemcv_sample_app-Desktop_Qt_6_2_4_MinGW_64_bit-Debug
build-opemcv_sample_app-Android_Qt_6_2_4_Clang_arm64_v8a-Debug
build-opemcv_sample_app-Android_Qt_6_2_4_Clang_armeabi_v7a-Debug
build-opemcv_sample_app-Android_Qt_6_2_4_Clang_x86_64-Debug
build-opemcv_sample_app-Android_Qt_6_2_4_Clang_x86-Debug